.home-banner-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
  padding-top: 35px !important;
  .home-banner-item {
    width: 33.33333333%;
    padding: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}
.home-banner-big {
  margin: 50px 0;
}
