.home-posts {
  margin-bottom: 96px;
  padding: 0 50px;
  .post-list-wrapper {
    .block-title {
      margin-bottom: 64px;
      text-align: center;
      h2 {
        position: relative;
        span {
          font-size: 36px;
          line-height: 42px;
          font-weight: 700;
          text-align: center;
          color: #000;
          margin: 0;
          line-height: 28px;
          text-transform: uppercase;
          display: inline-block;
        }
        &:before {
          content: "";
          position: absolute;
          bottom: -13px;
          left: 50%;
          transform: translateX(-50%);
          width: 16%;
          height: 8px;
          background: #e1e1e1;
        }
      }
    }
    .post-list {
      display: flex;
      margin: 0 -15px;
      list-style: none;
      .post-item {
        width: 33.33333333%;
        padding: 0 15px;
        display: list-item;
        text-align: -webkit-match-parent;
        margin-bottom: 65px;
        .post-item-info {
          .post-item-photo {
            margin-bottom: 20px;
            .post-item-images {
              color: #000;
              text-decoration: none;
              display: block;
              border-radius: 5px;

              img {
                display: block;
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 5px;
              }
            }
          }
          .post-item-tag {
            display: flex;
            align-items: flex-start;
            a {
              margin: 0 15px 15px 0;
              display: inline-block;
              border: 1px solid #bfbfbf;
              font-weight: 700;
              font-size: 16px;
              line-height: 15px;
              color: #000;
              text-align: center;
              padding: 6px 16px;
              text-decoration: none;
            }
          }
          .post-item-title {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #000;
            display: block;
            margin: 0 0 10px;
            overflow: hidden;
            min-height: 44px;
            a {
              color: #000;
              text-decoration: none;
            }
          }
          .post-item-date {
            font-size: 15px;
            line-height: 19px;
            color: #9d9d9d;
          }
          .post-item-description {
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            margin-top: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            p {
              text-align: justify;
              span {
                font-size: 13pt;
                font-family: arial, helvetica, sans-serif;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
  }
  .readmore {
    text-align: center;
    a {
      letter-spacing: 0.1em;
      min-width: 115px;
      display: inline-block;
      color: #000;
      text-align: center;
      font-weight: 700;
      border: 1.5px solid #000;
      letter-spacing: 0.1em;
      font-size: 16px;
      line-height: 19px;

      padding: 10px 20px;
      text-decoration: none;
      border-radius: 10px;
      transition: 0.3s;
      &:hover {
        background: #000;
        color: #fff;
      }
    }
  }
}
